.index_navigation_menu {
    list-style-type: none;
    padding: 0;
}

.index_navigation_menu_element {
    display: flex;
    text-decoration: none;
    margin-top: 7px;
    margin-bottom: 7px;
    justify-content: center;
    font-weight: 700;
    color: black;
}

.index_title {
    display: flex;
    font-style: "Times New Roman";
    font-size: 7vh;
    justify-content: center;
    margin: 0;
}

.index_vertical_line {
    width: 20vw;
    height: 2px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

.index_title_set {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    align-items: center;
    width: 30%;
    margin-left: 11vw;
}

.index_title_set_wrapper {
    height: 100vh;
    display: flex;
}

